@charset "utf-8";
/* CSS Document */


h1 
{
	text-align:center;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 70px;
	text-decoration:underline;
}

#counter{
	margin:auto;
	padding: 20px;
	
}

#counter h1 
{
	font-size:300px;
	text-decoration:none;
}

.copyright {
	text-align:center;
	font-size:10px;
	color:#D0CECE;
  font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif
}